﻿@inherits UmbracoViewPage<Lecoati.LeBlender.Extension.Models.LeBlenderModel>
@using testmasterpackage.Core.DomainModel.Image
@using testmasterpackage.Application.Helpers
@using Umbraco.Web.Models
@{
    //Can custom wigdth higth for diff project.
    int widht = 1920;
    int hight = 725;
    ImageOrDefault imageOrDefault = null;
    if (Model.Items != null && Model.Items.Any() && Model.Items.First() != null)
    {
        imageOrDefault = AutoMapper.Mapper.Map<ImageOrDefault>(Model);

        if (imageOrDefault != null)
        {

            <div class="imageModule module">

                <a href="@(imageOrDefault.Link!=null?imageOrDefault.Link.Url:string.Empty)">
                    <figure>
                        <div class="imageContainer imageDiv">

                            @if (imageOrDefault.Image != null)
                             {
                                    if (!Lecoati.LeBlender.Extension.Helper.IsFrontEnd())
                                    {
                                        <img src="@ImageHelper.GetImageUrl(imageOrDefault.Image.Guid,widht, hight, ImageCropMode.Crop)" alt="@ImageHelper.GetAltImageOrDefault(imageOrDefault.Image.Guid,"")" />
                                    }
                                    else
                                    {
                                        @ImageHelper.RenderImageSlimsy(imageOrDefault.Image.Guid, imageOrDefault.Image.Alt, imageOrDefault.Image.Title,widht, hight);
                                    }
                             }else
                             {
                                    if (!Lecoati.LeBlender.Extension.Helper.IsFrontEnd())
                                    {
                                        @LeBlenderHelper.RenderEmptyModule("imageOrDefault");
                                    }
                             }
                        </div>
                        @if (imageOrDefault.Image!= null)
                        {
                            <figcaption>@imageOrDefault.Image.Caption</figcaption>
                        }

                    </figure>
                </a>


            </div>
        }
    }
    
}
