﻿@inherits UmbracoViewPage<Lecoati.LeBlender.Extension.Models.LeBlenderModel>
@using testmasterpackage.Application.Helpers;
@using testmasterpackage.Core.DomainModel.Editors;
@using testmasterpackage.Core.DomainModel.Media;
@using Newtonsoft.Json;

@{

    if (Model.Items != null && Model.Items.Any())
    {
        ManaoImage image = JsonConvert.DeserializeObject<ManaoImage>(Model.Items.First().GetValue("image"));
        if (image != null && !string.IsNullOrEmpty(image.Url))
        {
            if (Lecoati.LeBlender.Extension.Helper.IsFrontEnd())
            {
                LinkModel link = JsonConvert.DeserializeObject<LinkModel>(Model.Items.First().GetValue("link"));
                <div class="imageModule">
                    @if (link != null)
                    {
                        <a href="@link.Url" @Html.Raw(!string.IsNullOrEmpty(link.Target) ? string.Format("target=\"{0}\"", link.Target) : string.Empty)>
                            <figure>
                                @ImageHelper.RenderImage(image.Guid, image.Alt, image.Title)
                                @if (!string.IsNullOrEmpty(image.Caption))
                            {
                                    <figcaption>@image.Caption</figcaption>
                                }
                            </figure>
                        </a>
                    }
                    else
                    {
                        <figure>
                            @ImageHelper.RenderImage(image.Guid, image.Alt, image.Title)
                            @if (!string.IsNullOrEmpty(image.Caption))
                            {
                                <figcaption>@image.Caption</figcaption>
                            }
                        </figure>
                    }
                </div>
            }
            else
            {
                @Html.Partial("~/Views/Partials/Grid/Editors/Backoffice/image.cshtml", image);
            }
        }
        else if (!Lecoati.LeBlender.Extension.Helper.IsFrontEnd())
        {
            @LeBlenderHelper.RenderEmptyModule("image")
        }
    }
}
