﻿<div class="umb-overlay umb-overlay-right" ng-controller="NodeListPickerPanelController">
    <div class="umb-overlay-header">
        <h4 class="umb-overlay__title ng-binding">Node Picker</h4>
        <p class="umb-overlay__subtitle ng-binding">Please select the node.</p>
    </div>

    <div class="node-pickers">
        <div class="filter">
            <input type="text" class="search" ng-model="keyword" ng-change="search()" placeholder="search" />
        </div>
        <p class="error-messsage" ng-if="(error.min || error.max)">Please select at lease {{config.min}} node(s) and maximum at {{config.max}} node(s).</p>
        <div class="node-list" ng-if="nodes.length">
            <ul ng-repeat="node in nodes">
                <li>
                    <span class="parent-node {{node.selected ? 'node-selected' : ''}}" ng-click="selected(node)">
                        <span ng-if="node.childs.length">
                            <i ng-if="node.expand" ng-click="node.expand=false;$event.stopPropagation();adjustNodePosition($event);" class="icon icon-navigation-down small"></i>
                            <i ng-if="!node.expand" ng-click="node.expand=true;$event.stopPropagation();adjustNodePosition($event);" class="icon icon-navigation-right small"></i>
                        </span>
                        <span class="not-allowed" ng-if="!node.isAllowed">
                            <i class="icon {{node.Icon}}"></i>
                            {{node.Name}}
                        </span>
                        <span class="allowed" ng-if="node.isAllowed">
                            <i class="icon {{node.Icon}}"></i>
                            {{node.Name}}
                        </span>
                    </span>
                    <ul ng-if="node.expand">
                        <li ng-repeat="child in node.childs" ng-include="'tree.html'"></li>
                    </ul>
                </li>
            </ul>
        </div>
        <p ng-if="!nodes.length">no result.</p>
    </div>


    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <button ng-if="isMultiple" class="btn btn-primary" ng-click="done()">
                    <localize key="buttons_select" class="ng-isolate-scope ng-scope">Select</localize>
                </button>
                <a href="" ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel" class="ng-isolate-scope ng-scope">Cancel</localize>
                </a>
            </div>
        </div>
    </div>

</div>
<script type="text/ng-template" id="tree.html">
    <span class="child-node  {{child.selected?'node-selected':''}}" ng-click="selected(child)">
        <span ng-if="child.childs.length">
            <i ng-if="child.expand" ng-click="child.expand=false;$event.stopPropagation();adjustNodePosition($event);" class="icon icon-navigation-down small"></i>
            <i ng-if="!child.expand" ng-click="child.expand=true;$event.stopPropagation();adjustNodePosition($event);" class="icon icon-navigation-right small"></i>
        </span>
        <span class="lab {{child.isAllowed?'':'not-allowed'}}">
            <i class="icon {{child.Icon}}"></i>
            {{child.Name}}
        </span>
    </span>
    <ul ng-if="child.expand">
        <li ng-repeat="child in child.childs" ng-include="'tree.html'"></li>
    </ul>
</script>