﻿@model ManaoImage
@using testmasterpackage.Core.DomainModel.Media;
@using testmasterpackage.Application.Helpers;

@{
    if (Model != null)
    {
        <div class="imageModule">
            @ImageHelper.RenderImage(Model.Guid, Model.Alt, Model.Title)
            @if (!string.IsNullOrEmpty(Model.Caption))
                {
                <figcaption>@Model.Caption</figcaption>
            }
        </div>
    }
}
