﻿@model ManaoImage
@using testmasterpackage.Core.DomainModel.Media;
@using testmasterpackage.Application.Helpers;

@{
    if (Model != null)
    {
        var image = Model;
        <div class="imageModule">
            @ImageHelper.RenderResponsiveImage(image.Guid, image.Alt, 1024, 780)
            @if (!string.IsNullOrEmpty(image.Caption))
                {
                <figcaption>@image.Caption</figcaption>
            }
        </div>
        <script>
            loadSlimsyBackend();
        </script>
    }
}
