﻿<div class="manao-robots" data-ng-controller="RobotsController">
    <div class="robot-options">
        <div class="option" data-ng-click="setTo(0)">
            <span class="checkbox"></span> 
            <label>{{text.disallowall}}</label>
        </div>
         <div class="option" data-ng-click="setTo(1)">
            <span class="checkbox"></span> 
            <label>{{text.allowall}}</label>
        </div>
        <div class="option" data-ng-click="setTo(2)">
            <span class="checkbox"></span> 
            <label>{{text.disallowdirectory}}</label>
        </div>
    </div>
    <textarea class="value-box" data-ng-model="model.value.showcontent" data-ng-keyup="setCustom()" disabled></textarea>
</div>
