﻿@font-face {
    font-family: 'LatoLight';
    src: url('/css/fonts/Lato-Light.eot');
    src: url('/css/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/Lato-Light.woff2') format('woff2'),
         url('/css/fonts/Lato-Light.woff') format('woff'),
         url('/css/fonts/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'LatoRegular';
    src: url('/css/fonts/Lato-Regular.eot');
    src: url('/css/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/Lato-Regular.woff2') format('woff2'),
         url('/css/fonts/Lato-Regular.woff') format('woff'),
         url('/css/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'LatoSemibold';
    src: url('/css/fonts/Lato-Semibold.eot');
    src: url('/css/fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/Lato-Semibold.woff2') format('woff2'),
         url('/css/fonts/Lato-Semibold.woff') format('woff'),
         url('/css/fonts/Lato-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}  
@font-face {
    font-family: 'LatoBold';
    src: url('/css/fonts/Lato-Bold.eot');
    src: url('/css/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/Lato-Bold.woff2') format('woff2'),
         url('/css/fonts/Lato-Bold.woff') format('woff'),
         url('/css/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

} 
@font-face {
    font-family: 'LatoHeavy';
    src: url('/css/fonts/Lato-Heavy.eot');
    src: url('/css/fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/Lato-Heavy.woff2') format('woff2'),
         url('/css/fonts/Lato-Heavy.woff') format('woff'),
         url('/css/fonts/Lato-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
#tinymce  {
    font-family: 'LatoRegular';
    font-size:16px;
    position: relative;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    min-width:320px;
    min-height: 100%;
}
#tinymce h1, #tinymce h2, #tinymce h3, .h1Style, .h2Style, .h3Style  {
    position:relative;
    font-family: 'LatoSemibold';
    color: #026d97;
    line-height: 1.21;
    margin-top: 0;

}
#tinymce h1, .h1Style {
    font-size: 24px;
    margin-bottom: 21px;
}
#tinymce h2, .h2Style {
    font-size: 18px;
    margin-bottom: 17px;
}
#tinymce h3, .h3Style{
    font-size: 18px;
    margin-bottom: 17px;
    color:#2a2a2c;
}
#tinymce p{
    margin: 0 0 28px 0;
    line-height: 28px;
    color:#2a2a2c;
}
#tinymce a,#tinymce a:visited,#tinymce a:focus,#tinymce a:active,#tinymce a:hover{
    outline:none;
    text-decoration: none;
    color: #008dbe;
}
#tinymce b, #tinymce strong{
    font-family: 'LatoHeavy';
}
#tinymce ul, #tinymce ol {
    margin: 0 0 28px 0;
    padding: 0 0 0 17px;
    line-height: 28px;
}
#tinymce ul li, #tinymce ol li{
    padding-left:5px;
}
#tinymce button{
    outline:none;
}

#tinymce hr{ 
    display:table;
    width:100%;
    border:none;
    margin-top:10px;
    margin-bottom:13px;
    text-align: center;
}
#tinymce hr:after{
    content:'';
    display:inline-block;
    width:166px;
    height:2px;
    background:#026d97;
} 

img{
    max-width:100%;
}
.center{
    text-align:center;
} 

/**umb_name:Header 1*/
h1{}

/**umb_name:Header 2*/
h2{}

/**umb_name:Header 3*/
h3{}