﻿.selected-tag-container {
    display: inline-block;
    width: 100%;
    margin-left: -5px;
      vertical-align: top;
}

.selected-tag-container .selected-tag {
    background-color: #EFEFEF;
    color: #343434;
    float: left;
    display: inline;
    padding: 5px;
    border-radius: 4px;
    margin-left: 5px;
    margin-top: 5px;
      margin-bottom: 5px;
      border: 1px solid #ccc;
      text-transform: lowercase;
}
.manao.textboxkeyword .addkeyword input {
    text-transform: lowercase;
}
.selected-tag-container .selected-tag .fa-remove {
    cursor:pointer;
}
.selected-tag .fa-remove {
   color:red;
}

#tagWarning {
    color:#BFA024;
    font-size:12px;
}