﻿<div ng-app>
    <div class="row" ng-controller="positionValuesController">

        <div class="control-group">
            <input name="positionName" type="text" ng-model="positionName" val-highlight="{{hasError}}" />
            <label><input type="checkbox" ng-model="isManager" />Manager</label>
            <button class="btn" ng-click="add($event)">Add</button>
        </div>

        <div ui-sortable="sortableOptions">
            <div class="control-group" ng-repeat="position in positions">
                <i class="icon icon-navigation handle"></i>
                <input type="hidden" ng-model="position.Id"  />
                <input type="text" ng-model="position.PositionName"  />
                <label><input type="checkbox" ng-model="position.IsManager" />Manager</label>
                <button class="btn btn-create" ng-click="edit(position, $event)">Edit</button>
                <button class="btn btn-danger" ng-click="remove(position, $event)">Remove</button>
            </div>
        </div>

    </div>
</div>