﻿<div ng-app>
    <div class="row" ng-controller="PositionPickerController">
        <div class="col-sm-8 col-sm-offset-2">
                <div class="input-group">

                    <select ng-model="model.value">
                        <option ng-repeat="position in positions" value="{{position.Id}}" ng-style={{position.IsManager?"{'color':'red'}":""}} ng-selected="{{position.Id==model.value}}">{{position.PositionName}}</option>
                    </select>

                </div>
        </div>
    </div>
</div>

<div ng-show="model.config.options" class="wmd-panel wmd-preview">
    <div>{{model.config.options}}</div>
</div>


<div>{{model.config.options}}</div>