﻿@font-face {
    font-family: 'Calibri';
    src: url('/css/fonts/Calibri.eot?#iefix') format('embedded-opentype'),  
        url('/css/fonts/Calibri.woff') format('woff'), 
        url('/css/fonts/Calibri.ttf')  format('truetype'), 
        url('/css/fonts/Calibri.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri-Bold';
    src: url('/css/fonts/webfonts/2F2857_1_0.eot');
    src: url('/css/fonts/webfonts/2F2857_1_0.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/webfonts/2F2857_1_0.woff') format('woff'),
        url('/css/fonts/webfonts/2F2857_1_0.ttf') format('truetype');
}
@font-face {
    font-family: 'Calibri-Italic';
    src: url('/css/fonts/Calibri-Italic.eot?#iefix') format('embedded-opentype'),  
        url('/css/fonts/Calibri-Italic.woff') format('woff'), 
        url('/css/fonts/Calibri-Italic.ttf')  format('truetype'), 
        url('/css/fonts/Calibri-Italic.svg#Calibri-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri-BoldItalic';
    src: url('/css/fonts/Calibri-BoldItalic.eot?#iefix') format('embedded-opentype'),  
        url('/css/fonts/Calibri-BoldItalic.woff') format('woff'), 
        url('/css/fonts/Calibri-BoldItalic.ttf')  format('truetype'), 
        url('/css/fonts/Calibri-BoldItalic.svg#Calibri-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-light-webfont';
    src: url('/css/fonts/opensans-light-webfont.eot');
    src: url('/css/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('/css/fonts/opensans-light-webfont.woff') format('woff'),
         url('/css/fonts/opensans-light-webfont.ttf') format('truetype'),
         url('/css/fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
