.imageModule{
    margin-bottom:20px;
      display: inline-block;
    width: 100%;
    pointer-events:none;
}
.imageModule.left{
    text-align:left;
}
.imageModule.right{
    text-align:right;
}
.imageModule.center{
    text-align:center;
}
.imageModule a{
    color: #888888;
}
.imageModule img{
    max-width:100%;
}
.imageModule figcaption{
    margin-top:5px;
    font-size:12px;
    text-align: center;
}
.imageModule figure {
    /*display:inline-block;*/
    display:block;
	text-align: center;
  
}

