﻿<div class="manao advancedSeo" data-ng-controller="advancedSeoPreviewController">
    <div class="serpPreview" >
        <div class="titlePreview" >
            <a data-ng-if="!title">{{dictionary['[SEO] Placeholder Title Preview']}}</a>
            <a id="titlePreview" data-ng-if="title">{{title}}</a>
        </div>
        <div class="snippetPreview" >
            <div id="urlPreview">{{ GetUrl() }}</div>
            <div class="exDescPreview" data-ng-if="!description">{{dictionary['[SEO] Placeholder Descriptions Preview']}}</div>
            <div id="descPreview" data-ng-if="description">{{description | limitTo: descriptionMaxCount}}</div>
        </div>
    </div>
</div>
