﻿@inherits testmasterpackage.Application.Templates.ManaoTemplatePage<testmasterpackage.Core.DomainModel.Header.Header>
@using testmasterpackage.Core.DomainModel.Header;
@using testmasterpackage.Application.Helpers;
@if (Model.hasHeader)
{

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a href="@(Model.Logo.hasLink ? Model.Logo.Link.Url: string.Empty)"
               @Html.Raw(Model.Logo.hasLink && !string.IsNullOrEmpty(Model.Logo.Link.Target) ? string.Format("target=\"{0}\"", Model.Logo.Link.Target) : string.Empty)>
                <!--Logo here-->
                @if (Model.Logo.hasImage)
                {
                    @ImageHelper.RenderImage(Model.Logo.Image.Guid, Model.Logo.Image.Alt, Model.Logo.Image.Title)
                }
            </a>
     
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                @foreach (Menu page in Model.Menus)
                {
                        @RenderMenu(page);
                }
                </ul>
            </div>
        </div>
    </nav>
   
}

@helper  RenderMenu(Menu page)
{
    if (page != null)
    {
        if (page.HasChild)
        {  
            
        <li class="nav-item dropdown @page.Class">
        <a class="nav-link dropdown-toggle" href="@page.Url" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @page.Name
        </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              
                    @foreach (var item in page.SubMenu)
                    {  
                        <a class="dropdown-item" href="@page.Url">
                              @*@RenderMenu(item)*@
                            @item.Name
                        </a>
                    }
            </div>
        </li>
        }
       else
        {
              <li class="nav-item @page.Class">
                 <a class="nav-link" href="@page.Url" >@page.Name</a>
             </li>
        } 
    }
}
