﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using testmasterpackage.Core.DomainModel.CookiesAlert;
@{
    CookiesAlert cookiesAlert = AutoMapper.Mapper.Map<CookiesAlert>(Model.Content);
    if (cookiesAlert != null)
    {
        <span hidden id="cookies-directive" data-explicit="@cookiesAlert.ExplicitConsent"
              data-position="@cookiesAlert.Position"
              data-duration="@cookiesAlert.Duration"
              data-limit="@cookiesAlert.Limit"
              data-accept-text="@Html.Raw(cookiesAlert.AcceptText)"
              data-button-text="@Html.Raw(cookiesAlert.ButtonText)"
              data-cookie-id="@Html.Raw(cookiesAlert.Id)">
            @Html.Raw(cookiesAlert.Message)
        </span>
    }
}
