﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.MacroEngines;
@using testmasterpackage.Services;
@using testmasterpackage.Core.DomainModel.SEO;
@{

    SEO seo = AutoMapper.Mapper.Map<SEO>(Model.Content);

    if (seo != null)
    {
        @Html.Raw("<meta name='robots' content='" + seo.Noindex + "," + seo.Nofollow + "'/>\n\t");
        @Html.Raw("<meta name='Keywords' content='" + seo.KeywordSEO + "'/>\n\t");
        @Html.Raw("<meta name='Description' content='" + seo.DescriptionSEO + "'/>\n\t");
        @Html.Raw("<title>" + seo.TitleSEO + "</title>");
    }
}

