﻿.node-pickers {
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}
.node-pickers-ui .add-button {
    cursor:pointer;
}
.node-pickers ul {
    padding-right:10px;
}
.node-pickers ul, .node-pickers li {
    list-style:none;
    padding:0;
    margin: 0;
}
.node-pickers li {
    cursor:pointer;
    padding: 0px;
}
.node-pickers .parent-node {
    padding: 5px;
    margin-bottom:5px;
    display:inline-block;
    min-width: 100px;
    font-weight: bold;
    display:inline-block;
    width: 100%;
}
.node-pickers .parent-node:hover {
   background:#eee;
}
.node-pickers .node-list {
    overflow-y:auto;
    height: 100%;
    display:inline-block;
    width: 100%;
    overflow-x: hidden;
}
.node-pickers .child-node {
    padding: 5px 0;
    margin-bottom: 5px;
    display: inline-block;
    min-width: 100px;
    display: inline-block;
    width: 100%;
}
.node-pickers-ui a {
    cursor:pointer;
}
.node-pickers-ui a:active, .node-pickers-ui a:focus {
    text-decoration:none;
}
.node-pickers a i {
    cursor: pointer;
}
.node-pickers .child-node:hover {
    background:#eee;
}
.node-pickers-ui .actions {
    margin-top: 10px;
}
.node-pickers-ui .actions .action {
    cursor:pointer;
    display:inline-block;
    margin-left: 20px;
}
.node-pickers-ui .actions .action:first-child {
    margin-left:0;
}
.node-pickers-ui .actions .action:hover span {
    text-decoration:underline;
}
.node-pickers li span.not-allowed {
    cursor: not-allowed;
    opacity: 0.4;
}
.node-pickers input {
    width: 100%;
    height: 36px;
    padding: 5px 10px;
    box-sizing: border-box;
}
.node-pickers .node-selected {
    background:#2e8aea !important;
    color:#fff !important;
}
.node-pickers .node-selected span {
    color:#fff !important;
}
.node-pickers-ui .icon-delete {
    cursor:pointer;
}
.node-pickers .error-messsage {
    color: #9d261d;
}
.node-pickers-ui .error-messsage {
    color: #9d261d;
}
