﻿<!-- separate keywords by enter -->
<!--<div class="manao textboxkeyword" data-ng-controller="textBoxKeywordController">
    <div class="selected-tag-container">
        <div class="selected-tag" data-ng-repeat="item in model.keywordList">{{item}} <i class="fa fa-remove" data-ng-click="remove($index)"></i></div>
    </div>
    <div class="addkeyword">
        <input class="umb-editor umb-textstring textstring" type="text" data-ng-model="model.keyword" data-ng-keyup="process($event)" />
    </div>
    <script>
        $('.addkeyword input').keypress(function (e) {
            console.log(e.keyCode);
            if (e.keyCode === 32) {
                return false;
            }
        });
    </script>

    <div id="tagWarning" ng-bind-html="messageShow"></div>

</div>-->
<!-- separate keywords by space -->
<div class="manao textboxkeyword" data-ng-controller="textBoxKeywordController">   
    <div class="addkeyword">
        <input class="umb-editor umb-textstring textstring" type="text" data-ng-model="model.keyword"  />
    </div>  
       
    <div id="tagWarning" ng-bind-html="messageShow"></div>
</div>




