<div class="manaoToggleBoxes" data-ng-controller="Manao.ToggleBoxes.Controller">
    <div class="toggleSwitch">
        <button type="button" 
                class="btn" 
                data-value="{{item.value}}"
                ng-repeat="item in items"
                ng-class="bindClass($index)" 
                ng-click="setValue(item, $event)" 
                ng-bind="item.text"
                ng-style="bindStyle(item)"
                ng-mouseover="onHover(item, $event)"
                ng-mouseleave="onLeave(item, $event)">
        </button>
    </div>
</div>

