<div class="umb-editor manaoToggleBoxesConfig" ng-controller="Manao.ToggleBoxes.ConfigController" ng-init="init()">

    <div class="form-horizontal">
        <div class="form-group">
            <label>Text</label>
            <input class="form-control" type="text" ng-model="newItemText" val-highlight="{{hasError}}" placeholder="Text" />
        </div>
        <div class="form-group">
            <label>Text Color</label>
            <select class="form-control" ng-model="newItemTextColor">
                <option value="#fff">White</option>
                <option value="#000">Black</option>
            </select>
        </div>
        <div class="form-group">
            <label>Value</label>
            <input class="form-control" type="text" ng-model="newItemValue" val-highlight="{{hasError}}" placeholder="Value" />
        </div>
        <div class="form-group">
            <label>Active Color</label>
            <input type="text" class="form-control colorpicker" value="#e9e9e9">
        </div>
        <div class="form-group">
            <label>&nbsp;</label>
            <button type="button" class="btn btn-success" ng-click="add($event)"><i class="fa fa-plus"></i> Add</button>
        </div>
    </div>

    <hr />

    <div ui-sortable="sortableOptions" ng:model="model.value">
        <div class="control-group" ng-repeat="item in model.value">
            <i class="icon icon-navigation handle"></i>
            <input type="text" ng-model="item.text" val-server="item_{{$index}}" placeholder="Text" required />
            <select class="form-control" ng-model="item.textColor" val-server="item_{{$index}}">
                <option value="#fff">White</option>
                <option value="#000">Black</option>
            </select>
            <input type="text" ng-model="item.value" val-server="item_{{$index}}" placeholder="Value" required />
            <input type="text" class="colorpicker" ng-model="item.color" val-server="item_{{$index}}" placeholder="Box Color" required />
            <button type="button" class="btn btn-danger" ng-click="remove($index)"><i class="fa fa-close"></i> Remove</button>
        </div>
    </div>
</div>