﻿<div ng-controller="PropertyEditors.ColorPickerController">

    <select name="dropDownList"
            class="umb-editor umb-dropdown"
            ng-model="model.value"
            ng-options="item.id as item.className for item in model.items">
        <option></option>
    </select>

</div>