﻿.manao-CWObelInNumbers .inputWrapper {
    width: 90%;
}

.manao-CWObelInNumbers .listEmpty {
    padding: 40px 0;
    text-align: center;
}

.manao-CWObelInNumbers .errorMessage {
    color: #9d261d;
    display: none;
}

.manao-CWObelInNumbers .addButton {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #f2f2f2;
    border: 1px solid #ccc;
    box-shadow: none;
}


.manao-CWObelInNumbers .deleteButton {
    background-color: transparent;
    border: 0;
    padding: 1px;
    font-size: 20px;
    position: relative;
    top: -1px;
}

.manao-CWObelInNumbers .editButton {
    background-color: transparent;
    border: 0;
    padding: 3px;
    font-size: 16px;
}