﻿<div class="manao-CWObelInNumbers" ng-controller="ManaoBootstrapTableDialogController">
    <umb-panel>
        <umb-header>
            <div class="span7">
                <h3>{{title}}</h3>
            </div>
        </umb-header>
        <div class="umb-panel-body umb-scrollable row-fluid">
            <div class="tab-content form-horizontal" style="padding-bottom: 90px">
                <div class="umb-pane">
                    <div class="control-group">
                        <div class="inputWrapper">
                            <div ng-repeat="key in modelKey">
                                <label ng-bind="label[$index].value"></label>
                                <input class="umb-editor umb-textstring" type="text" ng-model="model[key]" ng-keypress="readkey()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="umb-panel-footer">
            <div class="umb-el-wrap umb-panel-buttons">
                <div class="btn-toolbar umb-btn-toolbar pull-right">
                    <div class="btn-group">
                        <button class="btn btn-success" ng-click="save()">
                            Save
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn" ng-click="close()">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </umb-panel>
</div>