﻿<div class="manao-CWObelInNumbers" ng-controller="ManaoBootstrapTableController">
    <div class="row">
        <div class="col-sm-2">
            <button type="button" ng-click="create(model.value)" class="addButton">
                <i class="icon icon-add"></i> Add
            </button>
            <div class="row">
                <div class="col-sm-2">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th ng-repeat="label in model.config.labelField"><span ng-if="$index + 1 <= submodelKey.length">{{label.value}}</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in model.value" ng-show="model.value.length > 0">
                                <td ng-repeat="key in submodelKey">{{item[key]}}</td>
                                <td style="text-align:center">
                                    <button type="button" ng-click="update($index)" class="editButton" title="Edit"><i class="icon-whhg-edit blue"></i> </button>
                                    <button type="button" ng-click="delete($index)" class="deleteButton" title="Remove"><i class="icon-delete red"></i></button>
                                </td>
                            </tr>
                            <tr ng-show="model.value.length == 0">
                                <td class="listEmpty" colspan="7">No items</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>