﻿@inherits umbraco.MacroEngines.DynamicNodeContext


<ul>
	@* OrderBy() takes the property to sort by and optionally order desc/asc *@
    @foreach (var page in Model.Children.Where("Visible").OrderBy("CreateDate desc"))
    { 
        <li><a href="@page.Url">@page.Name</a></li>
    }
</ul>
