﻿.manao-dashboard {
    max-width: 550px;
    margin: 100px auto;
}
.manao-dashboard h2 {
    font-size:26px;
    font-weight:bold;   
}
.manao-dashboard h2 small {
    margin-left:10px;
    font-weight:bold;
    color:#949291;
}
.manao-dashboard .logo-container {
    border-top:3px #397a44 solid;   
    border-bottom:3px #397a44 solid;   
    padding:30px 20px; 
}
.manao-dashboard .contact-text {
    font-weight:bold;
    margin-top:20px;
}
.manao-dashboard .contact-text a {
    color:#1541a9;
}
.manao-dashboard .services {
    margin-left:-10px;
}
.manao-dashboard .services .bullet {
   margin-left:10px; 
}
.manao-dashboard .services i {
    position:relative;
    top:2px;
}
@media screen and (max-width:820px) {
    .manao-dashboard {
        margin: 20px auto;
    }
}
@media screen and (max-width:700px) {
    .manao-dashboard .services .bullet {
        display:block; 
    }
}