﻿<div class="umb-overlay umb-overlay-right" ng-controller="ManaoLinkPickerPanelController">
    <div class="umb-overlay-header">
        <h4 class="umb-overlay__title ng-binding">Link Picker</h4>
        <p class="umb-overlay__subtitle ng-binding">Please select the node or type the url on external link box.</p>
    </div>
    
    <div class="node-pickers">
        <div class="panel-scroll">
            <p class="error-messsage" ng-if="error.noLink">Please select the node or type the url on external link box.</p>
            <p class="error-messsage" ng-if="(error.min || error.max) && config.max && config.min">Please select at lease {{config.min}} node(s) and maximum at {{config.max}} node(s).</p>
            <p class="error-messsage" ng-if="(error.min || error.max) && config.max && !config.min">Maximum node(s) allowed are {{config.max}} node(s).</p>
            <p class="error-messsage" ng-if="(error.min || error.max) && !config.max && config.min">Please select at lease {{config.min}} node(s).</p>

            <div class="settings">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="search" ng-model="title" placeholder="Link title" />
                </div>
                <div class="form-group">
                    <label>Target</label>
                    <select ng-model="target">
                        <option value="">open link in the current window</option>
                        <option value="_blank">open link in the new tab/window</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Link to external</label>
                    <input type="text" class="search" ng-disabled="values.IsMedia" ng-model="external" placeholder="Type external link" />
                </div>
                <button class="btn btn-default media-button" ng-click="openMedia()">Select Media</button>
                <button class="btn btn-link media-button" ng-click="removeMedia()" ng-if="values.IsMedia">Remove Media</button>
            </div>

            <div class="nodes-tree" ng-show="!external">
                <div class="filter">
                    <input type="text" class="search" ng-model="keyword" ng-change="search()" placeholder="Type to search..." />
                </div>
                <div class="node-list" ng-if="nodes.length">
                    <ul ng-repeat="node in nodes">
                        <li>
                            <span class="parent-node {{node.selected?'node-selected':''}}" ng-click="selected(node)">
                                <span ng-if="node.childs.length">
                                    <i ng-if="node.expand" ng-click="node.expand=false;$event.stopPropagation();adjustNodePosition($event);" class="icon icon-navigation-down small"></i>
                                    <i ng-if="!node.expand" ng-click="node.expand=true;$event.stopPropagation();adjustNodePosition($event);" class="icon icon-navigation-right small"></i>
                                </span>
                                <span>
                                    <i class="icon {{node.Icon}}"></i>
                                    {{node.Name}}
                                </span>
                            </span>
                            <ul ng-if="node.expand">
                                <li ng-repeat="child in node.childs" ng-include="'tree.html'"></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <p ng-if="!nodes.length">no result.</p>
            </div>
        </div>
    </div>
    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <button class="btn btn-primary" ng-click="done()">
                    <localize key="buttons_select" class="ng-isolate-scope ng-scope">Select</localize>
                </button>
                <a href="" ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel" class="ng-isolate-scope ng-scope">Cancel</localize>
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="tree.html">
    <span class="child-node {{child.selected?'node-selected':''}}" ng-click="selected(child)">
        <span ng-if="child.childs.length">
            <i ng-if="child.expand" ng-click="child.expand=false;$event.stopPropagation();adjustNodePosition($event);" class="icon icon-navigation-down small"></i>
            <i ng-if="!child.expand" ng-click="child.expand=true;$event.stopPropagation();adjustNodePosition($event);" class="icon icon-navigation-right small"></i>
        </span>
        <span class="lab {{child.isAllowed?'':'not-allowed'}}">
            <i class="icon {{child.Icon}}"></i>
            {{child.Name}}
        </span>
    </span>
    <ul ng-if="child.expand">
        <li ng-repeat="child in child.childs" ng-include="'tree.html'"></li>
    </ul>
</script>