﻿<div ng-controller="ManaoLinkPickerController" class="node-pickers-ui">
    
    <p class="error-messsage" ng-if="(error.min || error.max) && model.config.max && model.config.min">Please select at lease {{model.config.min}} node(s) and maximum at {{model.config.max}} node(s).</p>
    <p class="error-messsage" ng-if="(error.min || error.max) && model.config.max && !model.config.min">Maximum node(s) allowed are {{model.config.max}} node(s).</p>
    <p class="error-messsage" ng-if="(error.min || error.max) && !model.config.max && model.config.min">Please select at lease {{model.config.min}} node(s).</p>
    <p ng-if="!dataLoaded">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </p>

    <div ng-if="dataLoaded">
        <div ng-if="!model.config.multiple || model.config.multiple =='0'">
            <div ng-if="!model.value || !model.value.Url" class="add-button">
                <i class="icon icon-add blue" ng-click="openPicker()"></i>
                <span ng-click="openPicker()">
                    Add
                </span>
            </div>
            <div ng-if="model.value && model.value.Url">
                <span>
                    <span ng-click="removeModel()" class="action"><i class="icon-delete red"></i></span>
                    <a ng-click="openPicker()">
                        <i class="icon {{model.value.Icon}}"></i>
                        <span>{{model.value.Name}}</span>
                    </a>
                </span>
            </div>
        </div>
        <div ng-if="model.config.multiple == '1'">
            <div ng-if="!model.value || !model.value.length" class="add-button">
                <i class="icon icon-add blue" ng-click="openPicker()"></i>
                <span ng-click="openPicker()">
                    Add
                </span>
            </div>
            <div ng-if="model.value && (model.value.length || model.value.length)" ui-sortable ng-model="model.value">
                <div ng-repeat="item in model.value">
                    <span>
                        <span ng-click="removeItem($index)" class="action"><i class="icon-delete red"></i></span>
                        <a ng-click="openPicker()">
                            <i class="icon {{item.Icon}}"></i>
                            <span>{{item.Name}}</span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <button type="button" ng-if="model.config.debug" class="btn btn-success" ng-click="reset()">RESET</button>
    </div>
</div>