﻿.manao-robots textarea {
    min-width: 66.6%;
    padding: 4px 6px;
    min-height:200px;
}
.manao-robots .robot-options {
    margin-bottom:10px;
    width:67%;
    margin-left:-10px;
}
.manao-robots .robot-options .option {
    display:inline-block;
    margin-left:10px;

}
.manao-robots .robot-options label {
    display:inline-block;
    float:left;
}
.robot-options .checkbox {
    cursor: pointer;
    background: url(/App_Plugins/Manao.Robots/Lib/checkbox.png) no-repeat;
    width: 0px;
    background-position: -44px 0;
    float:left;
}
.robot-options .checkbox.check
{
    background-position: -66px 0;
}