﻿.manao.advancedSeo .serpPreview {
    /*border: 1px dashed #d9d9d9;*/
    width: 68%;
      max-height: 110px;
}
/*.manao.advancedSeo .serpPreview .titlePreview {
    margin-left:5px;
}*/
.manao.advancedSeo .serpPreview .titlePreview a {
     text-decoration: none;
  color: #1e0fbe;
  font-size: 18px;
  font-weight: 400;
  font-family: arial,sans-serif;
    text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  /*width: 512px;*/
}
/*.manao.advancedSeo .serpPreview .snippetPreview {
     margin: 5px;
}*/
.snippetPreview {
    /*width: 512px;*/
}
#urlPreview {
    font-size: 13px!important;
  color: #00802a;
  font-style: normal;
  font-family: arial,sans-serif;
  line-height: 16px;
}

#descPreview {
     line-height: 1.4;
  color: #545454;
  font-size: small;
  font-family: arial,sans-serif;
   
}

.manao.advancedSeo .serpPreview .exDescPreview {
     line-height: 1.4;
  color: #545454;
  font-size: small;
  font-family: arial,sans-serif;
}

@media (max-width:1610px){
.manao.advancedSeo .serpPreview {
    max-height: none;
}
}
