﻿<div class="manao textareawithcharacters" data-ng-controller="textAreaWithCharacterCountCountController">
    <div>
        <textarea class="umb-editor umb-textarea textstring" rows="10" data-ng-model="model.value" data-ng-change="update()"></textarea>
    </div>    
    <span class="number-counter"> <span class="{{model.className}}">{{model.remainingCount}}</span> / {{model.maxCount}} {{dictionary['[SEO] CharacterCount Label Charactor']}}</span>
    
    <div id="tagWarning" ng-bind-html="messageShow"></div>

</div>



