﻿<div class="manao-dashboard" data-ng-controller="ManaoDashboardController">
    <h2>{{text.title}}<small>{{text.subtitle}}</small></h2>
    <div class="logo-container">
        <img src="/app_plugins/Dashboard/lib/logo.png" alt="manao logo" title="Manao Software" />
    </div>
    <p class="contact-text">{{text.pleasecontact}} <a href="mailto:{{text.contactemail}}">{{text.contactemail}}</a> {{text.for}}</p>
    <div class="services">
        <span class="bullet">
            <i class="icon-whhg-support"></i> {{text.support}}
        </span>
        <span class="bullet">
            <i class="icon-umb-settings"></i> {{text.extensions}}
        </span>
        <span class="bullet">
            <i class="icon-whhg-trophy"></i> {{text.offers}}
        </span>
    </div>
</div>