﻿<div class="manao textboxwithpixel" data-ng-controller="textBoxWithPixelCountController">
    <div>
        <input class="umb-editor umb-textstring textstring" type="text" data-ng-model="model.value" data-ng-change="calTextWidth()" />
    </div>
    <span class="number-counter"> <span class="{{model.className}}">{{model.remainingCount}}  </span>/ {{model.maxWidthCount}} {{dictionary['[SEO] Label Pixel']}} </span>
    <div id="tagWarning" ng-bind-html="messageShow"></div>
</div>