.toggleSwitch button {
    min-width: 80px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 5px 10px;
    background: #e9e9e9;
    color: #666;
    border-color: #e9e9e9;
}

.toggleSwitch .firstItem {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.toggleSwitch .lastItem {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
