.manaoToggleBoxesConfig {
}

    .manaoToggleBoxesConfig .form-horizontal .form-group {
        display: inline-block;
    }

    .manaoToggleBoxesConfig .form-group label {
        font-weight: 600;
        display: block;
    }

    .manaoToggleBoxesConfig .form-group button.btn {
        margin: 7px 2px 0;
    }


    .manaoToggleBoxesConfig .form-group .col-md-3 {
        width: 60px;
    }

    .manaoToggleBoxesConfig .form-group .form-control {
        outline: 0 !important;
    }

    .manaoToggleBoxesConfig .control-group input.colorpicker {
        vertical-align: unset !important;
        border: 1px solid #ccc;
    }

    .manaoToggleBoxesConfig .control-group button.btn {
        margin-top: -2px;
    }
