﻿.manaoMediaPicker {
    float: none !important;
    text-align: left;
    color: #888888;
    padding: 5px;
    margin: 0;
}

    .manaoMediaPicker .selectImage {
        display: inline-block;
        width: 120px;
        height: 120px;
        line-height: 120px;
        color: #d9d9d9;
        text-align: center;
        text-decoration: none;
        border: 2px #d9d9d9 dashed !important;
        cursor: pointer;
        transition: all 150ms ease-in-out;
    }

        .manaoMediaPicker .selectImage:hover {
            color: #aacc10;
            border-color: #aacc10 !important;
        }

    .manaoMediaPicker .previewImage {
        position: relative;
        width: 120px;
        height: 100px;
        padding: 5px;
        text-align: center;
        background: white;
        border: 1px solid #f8f8f8;
        display: inline-block;
    }

        .manaoMediaPicker .previewImage p {
            text-align: center !important;
            display: block;
            color: #000;
            font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        }


            .manaoMediaPicker .previewImage p > i {
                font-size: 40px;
                color: #000;
                display: block !important;
                position: static !important;
                padding: 28px 40px 36px;
            }

        .manaoMediaPicker .previewImage:hover i {
            display: inline;
        }

        .manaoMediaPicker .previewImage img {
            max-width: 100%;
            max-height: 100%;
        }

        .manaoMediaPicker .previewImage a, .manaoMediaPicker .previewImage a:hover {
            text-decoration: none;
        }

        .manaoMediaPicker .previewImage i {
            display: none;
            position: absolute;
            font-size: 15px;
            cursor: pointer;
            background-color: #fff;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            padding-top: 2.5px;
            box-sizing: border-box;
            top: 70%;
        }

        .manaoMediaPicker .previewImage a:first-child i {
            left: 95px;
            color: #f00;
        }

        .manaoMediaPicker .previewImage a:last-child i {
            left: 65px;
            color: #000;
        }

.ng-invalid .manaoMediaPicker .selectImage {
    border: 2px #9d261d dashed !important;
    color: #9d261d;
}
