﻿.umb-overlay-header {
    min-height: 100px !important;
}

.umb-overlay-drawer {
    position: fixed;
    width: 460px;
    bottom: 1px;
}


.manaoMediaPickerSetting label, .manaoMediaPickerSetting .selectImage {
    margin: 10px 0;
    cursor: text;
}

.manaoMediaPickerSetting input, .manaoMediaPickerSetting .selectImage {
    width: 95%;
}

.manaoMediaPickerSetting .selectImage {
    border: 2px dashed #d9d9d9;
    cursor: pointer;
    padding: 5px;
    width: 124px;
    height: 124px;
    text-align: center;
    transition: all 200ms ease-in-out;
}

    .manaoMediaPickerSetting .selectImage i {
        font-size: 40px;
        color: #e5e5e5;
        top: 45px;
        position: relative;
        transition: all 200ms ease-in-out;
    }

    .manaoMediaPickerSetting .selectImage small {
        display: block;
        margin-top: 40px;
        text-align: center;
        color: #999;
        font-size: 11px;
        transition: all 200ms ease-in-out;
    }

    .manaoMediaPickerSetting .selectImage:hover {
        border: 2px dashed #2e8aea;
    }

        .manaoMediaPickerSetting .selectImage:hover i {
            color: #2e8aea;
        }

        .manaoMediaPickerSetting .selectImage:hover small {
            color: #2e8aea;
        }

.manaoMediaPickerSetting .previewImage {
    position: relative;
    border: 1px solid #f8f8f8;
    padding: 5px;
    width: 124px;
    height: 100px;
}

    .manaoMediaPickerSetting .previewImage > img {
        max-height: 100px;
    }

    .manaoMediaPickerSetting .previewImage p {
        text-align: center !important;
        display: block;
    }


        .manaoMediaPickerSetting .previewImage p > i {
            font-size: 40px;
            color: #000;
            display: block !important;
            position: static !important;
            padding: 28px 40px 36px;
        }

    .manaoMediaPickerSetting .previewImage:hover i {
        display: inline;
    }

    .manaoMediaPickerSetting .previewImage i {
        display: none;
        position: absolute;
        font-size: 15px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
        width: 25px;
        height: 25px;
        padding-top: 2.5px;
        box-sizing: border-box;
        top: 80px;
        right: 10px;
        color: red;
        padding-left: 5px;
    }
