<div class="manaoMediaPicker" ng-controller="ManaoMediaPickerController">
    <div class="alert alert-error property-error" ng-if="validation.isEmpty" ng-bind="dictionary['[Custom Media Picker] Validation Required Message']"></div>
    <div class="usky-editor-placeholder selectImage" ng-click="openSetting()" ng-if="!model.value.Url">
        <i class="icon icon-add large"></i>
    </div>
    <div class="previewImage" ng-if="model.value.Url">
        <div class="umb-sortable-thumbnails__actions">
            <a class="umb-sortable-thumbnails__action -red" href="javascript:void(0)">
                <i class="icon icon-delete" ng-click="remove()"></i>
            </a>
            <a class="umb-sortable-thumbnails__action" href="javascript:void(0)">
                <i class="icon icon-edit" ng-click="openSetting()"></i>
            </a>
        </div>
        <img ng-src="{{model.value.Url}}" alt="{{model.value.Alt}}" title="{{model.value.Title}}" ng-show="model.value.Url && model.value.Type=='Image'" />
        <div ng-show="model.value.Url && model.value.Type!='Image'">
            <p>
                <i class="icon icon-document"></i>
                <small ng-bind="model.value.Title"></small>
            </p>
        </div>
    </div>
</div>
