﻿<div class="umb-overlay umb-overlay-right" ng-controller="ManaoMediaPickerSettingController">
    <div class="umb-overlay-header">
        <h4 class="umb-overlay__title">{{dictionary['[Custom Media Picker] Image Setting']}}</h4>
        <p class="umb-overlay__subtitle"></p>
    </div>
    <div class="umb-overlay-container form-horizontal manaoMediaPickerSetting">
        <div class="field">
            <label ng-bind="dictionary['[Custom Media Picker] Select Label']"></label>
            <div class="selectImage {{fileErrorClass}}" ng-if="!model.Url" ng-click="selectImage()">
                <i class="icon icon-pictures-alt-2"></i>
            </div>
            <div class="previewImage" ng-show="model.Url && model.Type=='Image'">
                <i class="icon icon-delete" ng-click="remove()" ng-if="model.Url"></i>
                <img ng-src="{{model.Url}}" alt="{{model.Alt}}" title="{{model.Title}}" />
            </div>
            <div class="previewImage icon-holder" ng-show="model.Url && model.Type!='Image'">
                <i class="icon icon-delete" ng-click="remove()" ng-if="model.Url"></i>
                <p>
                    <i class="icon icon-document large"></i>
                    <small ng-bind="model.Title"></small>
                </p>
            </div>
        </div>
        <div class="field">
            <label ng-bind="dictionary['[Custom Media Picker] Title Label']"></label>
            <input type="text" ng-model="model.Title" placeholder="{{dictionary['[Custom Media Picker] Title Placeholder']}}" />
        </div>
        <div class="field">
            <label ng-bind="dictionary['[Custom Media Picker] Alt Label']"></label>
            <input type="text" ng-model="model.Alt" placeholder="{{dictionary['[Custom Media Picker] Alt Placeholder']}}" />
        </div>
        <div class="field">
            <label ng-bind="dictionary['[Custom Media Picker] Caption Label']"></label>
            <input type="text" ng-model="model.Caption" placeholder="{{dictionary['[Custom Media Picker] Caption Placeholder']}}" />
        </div>
    </div>
    <div class="umb-overlay-drawer">
        <div class="umb-overlay-drawer__align-right">
            <button class="btn btn-primary" ng-click="save()">
                <localize key="buttons_select" class="ng-isolate-scope">Select</localize>
            </button>
            <a href="" ng-click="close()" class="btn btn-link">
                <localize key="general_cancel" class="ng-isolate-scope">Cancel</localize>
            </a>
        </div>
    </div>
    
    <manao-modal></manao-modal>
</div>