.icon .icon-icon span {
	cursor:pointer;
}

.icon .icon-icon span:hover {
	text-decoration:underline;
}

.icon .icon-remove {
	margin-top:10px;
}

.icon .icon-remove span {
	cursor:pointer;
}

.icon .icon-remove span:hover {
	text-decoration:underline;
}
.add-sectoion a {
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: #d9d9d9;
    text-align: center;
    text-decoration: none;
    border: 2px #d9d9d9 dashed!important;
    display: inline-block;
}

.add-sectoion .icon-add {
    font-size: 20px;
}

.add-sectoion {
      display: block;
      
}
.icon-delete{
    cursor:pointer;
}