﻿<div class="iconPickerSetting" data-ng-controller="iconPickerSettingController">
    <div class="umb-control-group">
        <div class="searchIconInput">
            <input type="text" data-ng-model="searchIcon" placeholder="Type to search...">
        </div>
        <ul class="umb-thumbnails thumbnails" data-ng-class="color">
            <li data-ng-repeat="icon in iconlist|filter:searchIcon" class="iconItem">
                <a title="icon-{{icon}}" class="thumbnail" data-ng-click="selectIcon(icon)" prevent-default="">
                    <i class="icon-f-{{icon}}" style="font-size: 32px"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons clearfix">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href="" ng-click="close()" class="btn btn-link">Close</a>
            </div>
        </div>
    </div>
</div>