<div ng-controller="Icon.Controller" class="icon">
	<div class="icon-icon">
		<span style="font-size:32px;" ng-bind-html="renderIconPattern(model.value)" ng-click="openIconPickerDialog()"></span>
        <i class="icon icon-delete red" ng-click="remove()" data-ng-if="model.value" />
	</div>
    <div class="add-sectoion " ng-click="openIconPickerDialog()"  data-ng-if="!model.value">
        <a href="javascript:void(0)">
            <i class="icon icon-add"></i>
        </a>
    </div>
   
	<umb-overlay
		ng-if="overlay.show"
		model="overlay"
		view="overlay.view"
		position="right">
	</umb-overlay>
</div>
