<div data-ng-controller="manaoDropdownController">
    <select name="dropDownList" class="umb-editor umb-dropdown" data-ng-model="dropdown" data-ng-options="option.value for option in model.config.options" data-ng-change="selectDropdown()">
    </select>
</div>
