﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Optimization;

<!DOCTYPE html>
<html lang="@(System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName)">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Html.Partial("~/Views/Partials/[Manao] Favicon.cshtml")
    @Html.Partial("~/Views/Partials/[Manao] SEO.cshtml")

    <link href="~/css/libs/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <h1>Hello </h1>
    <header class="header">
        @Html.Partial("~/Views/Partials/[Manao] Header.cshtml")
    </header>
    <div class="mainContentContainer">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    <footer class="footer">
        @Html.Partial("~/Views/Partials/[Manao] Footer.cshtml")
    </footer>
    @Html.Partial("~/Views/Partials/[Manao] CookiesAlert.cshtml")
    @Html.Partial("~/Views/Partials/[Manao] GoogleAnalytics.cshtml")

    @* CSS *@
    @Styles.Render("~/bundle/styles")

    @* Script *@
    @Scripts.Render("~/bundle/libraries")
    @Scripts.Render("~/bundle/scripts")
</body>
</html>